<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <userSettings>
        <ChocolateyGui.Properties.Settings>
            <setting name="sources" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
                        <string>Chocolatey|https://chocolatey.org/api/v2</string>
                    </ArrayOfString>
                </value>
            </setting>
        </ChocolateyGui.Properties.Settings>
    </userSettings>
</configuration>